.comments-wrap {
  .system-comment {
    padding: 15px;
    margin-left: 60px;
    color: #FFF;

    .date {
      font-size: 90%;
    }
    .message, .desc, .correct {
      display: inline-block;
      word-wrap: break-word;
      max-width: 100%;
      width: auto;
      font-size: 90%;
      line-height: 18px;
      letter-spacing: 1px;
      font-weight: normal;
      vertical-align: middle;
      text-align: left;
    }
  }
}



